body {
  background-image: linear-gradient(
    to bottom top,
    #f2f2f2,
    #e9e9e9,
    #e0e0e0,
    #d8d8d8,
    #cfcfcf
  );
}
.section {
  padding: 4rem 2rem;
  text-align: left;
  color: #ffffff;
}

h2 {
  color: #163b6d;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

p {
  color: #393939;
  font-size: 1.1rem;
}

#about h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #289db9; /* Cor principal */
  letter-spacing: 1px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4); /* Efeito de sombra no texto */
}

#about {
  background: linear-gradient(135deg, #163b6d, #289db9);
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh; /* Faz a seção ocupar uma boa parte da tela */
  border-radius: 20px; /* Arredonda a borda da seção */
}

#about h2:first-of-type {
  margin-bottom: 1rem;
}

#plans {
  background-color: #1e1e1e; /* Cor secundária */
}

#coverage {
  background-color: #121212;
  padding: 4rem 2rem;
  color: #e0e0e0;
}

/* Slogan */
#about h2 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation: fadeInUp 1s ease-in-out;
}

/* Animação para a entrada suave */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilização responsiva para telas menores */
@media (max-width: 768px) {
  #about h2 {
    font-size: 2.2rem;
  }

  .section {
    padding: 3rem 1rem;
  }
}
